<a href="https://colab.research.google.com/github/widawek/data-science-bootcamp/blob/main/Analiza_Danych_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import numpy as np
import pandas as pd

print(f'Numpy: {np.__version__}')
print(f'Pandas: {pd.__version__}')

Numpy: 1.21.6
Pandas: 1.3.5

In [ ]:
def fetch_financial_data(company="META"):
    """Pobiera dane dot. notowań spółek na giełdzie wg symboli na serwisie stooq.pl"""
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source="stooq")

df = fetch_financial_data("META")
df.head()

                Open      High     Low   Close    Volume
Date
2023-02-13  178.2150  181.0000  175.82  179.43  31463223
2023-02-10  176.3534  178.8900  173.35  174.15  33433567
2023-02-09  186.1300  186.6500  177.27  177.92  37118811
2023-02-08  190.0000  190.8300  182.92  183.43  36139074
2023-02-07  185.5750  193.7799  184.40  191.62  47080662

In [ ]:
df.to_csv("meta.csv")

In [ ]:
df_nov = df[(df.index.month == 11) & (df.index.year == 2019)]
df_nov

In [ ]:
df_nov.to_csv("meta_11_2019")

In [ ]:
new_df = pd.read_csv("meta_11_2019")
new_df

          Date     Open     High      Low   Close    Volume
0   2019-11-29  201.600  203.800  201.210  201.64   7985231
1   2019-11-27  199.900  203.140  199.420  202.00  12729462
2   2019-11-26  200.000  200.150  198.039  198.97  11748664
3   2019-11-25  199.515  200.970  199.250  199.79  15286442
4   2019-11-22  198.380  199.300  197.620  198.82   9959817
5   2019-11-21  197.420  199.090  196.860  197.93  12130985
6   2019-11-20  198.580  199.590  195.430  197.51  12370240
7   2019-11-19  197.400  200.000  196.860  199.32  19070291
8   2019-11-18  194.560  198.630  193.050  197.40  16176107
9   2019-11-15  194.260  195.300  193.380  195.10  11530232
10  2019-11-14  192.930  194.030  191.450  193.15   9059897
11  2019-11-13  194.700  195.700  192.740  193.19  11009800
12  2019-11-12  190.000  195.060  189.740  194.47  17615454
13  2019-11-11  189.930  190.080  188.540  189.61   8637768
14  2019-11-08  190.000  192.340  189.700  190.84  10764784
15  2019-11-07  191.910  193.440  189.470  190.42  13472998
16  2019-11-06  194.030  194.370  191.350  191.55  10973019
17  2019-11-05  195.370  195.750  193.600  194.32   9941954
18  2019-11-04  194.550  197.367  193.812  194.72  16371292
19  2019-11-01  192.850  194.110  189.910  193.62  21711829

In [ ]:
df_nov.to_excel("meta_nov.xlsx")

In [ ]:
new_df = pd.read_excel("meta_nov.xlsx", index_col="Date") # można tez podac indek kolumny np 0
new_df

London Bike Dataset

In [ ]:
df = pd.read_csv("/szkolenie/london_bike.csv")
df.head(5)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [ ]:
df = df.set_index("timestamp")

In [ ]:
df.head()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [52]:
def fetch_financial_data(company="META"):
    """Pobiera dane dot. notowań spółek na giełdzie wg symboli na serwisie stooq.pl"""
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source="stooq")

apple = fetch_financial_data("AAPL")
amazon = fetch_financial_data("AMZN")
google = fetch_financial_data("GOOGL")
uber = fetch_financial_data("UBER")

PREPROCESING

In [ ]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 949 entries, 2023-02-14 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    949 non-null    float64
 1   High    949 non-null    float64
 2   Low     949 non-null    float64
 3   Close   949 non-null    float64
 4   Volume  949 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 44.5 KB

In [53]:
apple.columns = ["apple_" + col.lower() for col in apple.columns]
amazon.columns = ["amazon_" + col.lower() for col in amazon.columns]
google.columns = ["google_" + col.lower() for col in google.columns]
uber.columns = ["uber_" + col.lower() for col in uber.columns]

In [54]:
df = pd.concat(objs=[apple, amazon, google, uber], axis = 1)

In [55]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,1257.00,949.00,949.00,949.00,949.00,949.00
mean,99.22,100.45,98.07,99.31,117137657.10,120.68,122.14,119.05,120.61,85599952.49,86.68,87.66,85.71,86.70,35292205.34,37.24,38.01,36.40,37.21,25609124.31
std,46.27,46.88,45.67,46.30,55556702.02,34.86,35.23,34.44,34.79,39510331.55,30.46,30.75,30.10,30.42,15940214.21,9.79,9.87,9.64,9.73,16664587.61
min,34.74,35.16,34.26,34.31,35195860.00,67.30,69.80,65.35,67.20,17626740.00,49.22,50.61,48.88,49.23,9312760.00,15.96,17.80,13.71,14.82,3380003.00
25%,50.53,50.90,50.08,50.52,79603673.88,89.65,90.30,88.64,89.61,58932360.00,59.32,59.94,58.68,59.47,25153400.00,29.74,30.42,29.14,29.75,15729172.00
50%,108.91,110.68,107.23,108.85,102116345.53,108.11,110.99,106.37,108.44,74391980.00,75.66,76.30,74.95,75.67,31436600.00,34.75,35.36,33.94,34.70,21852813.00
75%,142.70,144.86,141.30,143.21,138624562.77,158.34,159.94,156.25,158.10,101124700.00,112.64,114.01,111.46,112.72,40286400.00,44.16,44.80,43.38,43.99,30762551.00
max,181.58,181.88,178.09,180.96,434708544.96,187.20,188.65,184.84,186.57,311345660.00,151.25,151.55,148.90,149.84,133177100.00,63.25,64.05,60.80,63.18,186322536.00

In [ ]:
pd.set_option("display.float_format", lambda x: f"{x:.2f}")

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,99.22,46.27,34.74,50.53,108.91,142.70,181.58
apple_high,1257.00,100.45,46.88,35.16,50.90,110.68,144.86,181.88
apple_low,1257.00,98.07,45.67,34.26,50.08,107.23,141.30,178.09
apple_close,1257.00,99.31,46.30,34.31,50.52,108.85,143.21,180.96
apple_volume,1257.00,117137657.10,55556702.02,35195860.00,79603673.88,102116345.53,138624562.77,434708544.96
amazon_open,1257.00,120.68,34.86,67.30,89.65,108.11,158.34,187.20
amazon_high,1257.00,122.14,35.23,69.80,90.30,110.99,159.94,188.65
amazon_low,1257.00,119.05,34.44,65.35,88.64,106.37,156.25,184.84
amazon_close,1257.00,120.61,34.79,67.20,89.61,108.44,158.10,186.57
amazon_volume,1257.00,85599952.49,39510331.55,17626740.00,58932360.00,74391980.00,101124700.00,311345660.00
google_open,1257.00,86.68,30.46,49.22,59.32,75.66,112.64,151.25
google_high,1257.00,87.66,30.75,50.61,59.94,76.30,114.01,151.55
google_low,1257.00,85.71,30.10,48.88,58.68,74.95,111.46,148.90
google_close,1257.00,86.70,30.42,49.23,59.47,75.67,112.72,149.84
google_volume,1257.00,35292205.34,15940214.21,9312760.00,25153400.00,31436600.00,40286400.00,133177100.00
uber_open,949.00,37.24,9.79,15.96,29.74,34.75,44.16,63.25
uber_high,949.00,38.01,9.87,17.80,30.42,35.36,44.80,64.05
uber_low,949.00,36.40,9.64,13.71,29.14,33.94,43.38,60.80
uber_close,949.00,37.21,9.73,14.82,29.75,34.70,43.99,63.18
uber_volume,949.00,25609124.31,16664587.61,3380003.00,15729172.00,21852813.00,30762551.00,186322536.00

In [ ]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.76,0.77,0.76,0.76,-0.29,0.92,0.93,0.92,0.92,-0.12,0.08,0.09,0.09,0.08,0.11
apple_high,1.00,1.00,1.00,1.00,-0.35,0.76,0.77,0.76,0.76,-0.28,0.92,0.93,0.92,0.92,-0.11,0.08,0.08,0.08,0.08,0.12
apple_low,1.00,1.00,1.00,1.00,-0.36,0.77,0.77,0.76,0.76,-0.29,0.93,0.93,0.93,0.93,-0.12,0.09,0.09,0.09,0.09,0.11
apple_close,1.00,1.00,1.00,1.00,-0.36,0.76,0.77,0.76,0.76,-0.29,0.93,0.93,0.92,0.93,-0.12,0.08,0.09,0.08,0.08,0.11
apple_volume,-0.36,-0.35,-0.36,-0.36,1.00,-0.21,-0.20,-0.22,-0.21,0.57,-0.40,-0.40,-0.41,-0.41,0.46,-0.18,-0.17,-0.19,-0.18,0.23
amazon_open,0.76,0.76,0.77,0.76,-0.21,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_high,0.77,0.77,0.77,0.77,-0.20,1.00,1.00,1.00,1.00,-0.24,0.79,0.79,0.79,0.79,-0.14,0.58,0.58,0.58,0.58,-0.04
amazon_low,0.76,0.76,0.76,0.76,-0.22,1.00,1.00,1.00,1.00,-0.26,0.79,0.79,0.79,0.79,-0.16,0.60,0.60,0.60,0.60,-0.05
amazon_close,0.76,0.76,0.76,0.76,-0.21,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_volume,-0.29,-0.28,-0.29,-0.29,0.57,-0.25,-0.24,-0.26,-0.25,1.00,-0.32,-0.31,-0.33,-0.32,0.55,-0.17,-0.17,-0.19,-0.18,0.24
google_open,0.92,0.92,0.93,0.93,-0.40,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.15,0.24,0.24,0.24,0.24,0.10
google_high,0.93,0.93,0.93,0.93,-0.40,0.79,0.79,0.79,0.79,-0.31,1.00,1.00,1.00,1.00,-0.15,0.23,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.93,0.92,-0.41,0.79,0.79,0.79,0.79,-0.33,1.00,1.00,1.00,1.00,-0.17,0.25,0.25,0.25,0.25,0.09
google_close,0.92,0.92,0.93,0.93,-0.41,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_volume,-0.12,-0.11,-0.12,-0.12,0.46,-0.15,-0.14,-0.16,-0.15,0.55,-0.15,-0.15,-0.17,-0.16,1.00,-0.16,-0.15,-0.17,-0.16,0.28
uber_open,0.08,0.08,0.09,0.08,-0.18,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
uber_high,0.09,0.08,0.09,0.09,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.09,0.08,0.09,0.08,-0.19,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.24
uber_close,0.08,0.08,0.09,0.08,-0.18,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.11,0.12,0.11,0.11,0.23,-0.04,-0.04,-0.05,-0.04,0.24,0.10,0.10,0.09,0.10,0.28,-0.22,-0.19,-0.24,-0.21,1.00

In [ ]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [56]:
closes = [col for col in df.columns if col.endswith("close")]

In [57]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.76          0.93        0.08
amazon_close         0.76          1.00          0.79        0.59
google_close         0.93          0.79          1.00        0.24
uber_close           0.08          0.59          0.24        1.00

04_laczenie_danych

Metoda append()

In [ ]:
uber.head(5)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-02-14      33.11      35.36     32.72       35.23     38856463
2023-02-13      34.50      34.52     33.35       33.44     35043744
2023-02-10      34.40      35.40     34.05       34.30     41936379
2023-02-09      36.89      37.36     35.65       35.89     44068509
2023-02-08      37.43      37.58     34.50       36.83    109597829

In [58]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2022)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612

In [59]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2022)]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312

In [65]:
uber_6_7 = uber_6.append(uber_7)  # metoda działa jeżeli mamy takie same kolumny
uber_6_7 = uber_6_7.sort_index()
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-01      23.53      23.87     22.57       22.94     26383612
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-07-01      20.70      21.37     20.43       21.34     20693312
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-29      23.18      23.48     22.39       23.45     29406649